registry = "https://registry.npmjs.org/"
strict-ssl = false
audit=true
audit-level=moderate
allow-directory = "none"
allow-file = "none"
allow-git = "none"
allow-remote = "none"
fund = false
ignore-scripts = true
min-release-age = 3
package-lock = true
save-exact = true
